blessed==1.20.0
blessings==1.7
chardet==4.0.0
ClusterShell==1.9.3
Cython==0.29.37
dbus-python==1.2.18
decorator==4.4.2
distro==1.5.0
file-magic==0.4.0
gpg==1.15.1
idna==2.10
iniparse==0.4
iotop==0.6
libcomps==0.1.18
mercurial==6.1.4
nftables==0.1
numpy==1.23.5
packaging==20.9
perf==0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.1
PyGObject==3.40.1
pyinotify==0.9.6
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
python-ldap==3.4.3
python-linux-procfs==0.7.3
pyudev==0.22.0
PyYAML==5.4.1
requests==2.25.1
rpm==4.16.1.3
SCons==4.5.2
selinux==3.6
sepolicy==3.6
setools==4.4.4
six==1.15.0
subscription-manager==1.29.45
systemd-python==234
urllib3==1.26.5
wcwidth==0.2.5
